@import "tailwindcss";



html, body, #root {
  height: 100%;
  background-color: #ffffff;
}
#root { max-width: none; margin: 0; padding: 0; }

.tree-wrapper svg {
  width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}